
body{
    background-color: aqua;
}
h2{
    color:aqua;
    font-size:40px;
}
p{
    color:blueviolet;
    font-size: 45px;
}
h4{
    font-size: 45px; 
}

li{

    font-size:45px;

}
a{
    color:coral ;
    font-size: 30px;
}